
.m1{
    background: #eeeeee;
}
.m2{
    background-color: blue;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
}
.m3{
    min-height: 400px;
    background: white;
    border: 1px solid #ced1d8;
}
.m4{
    background: #eeeeee;
    height: 50px;
}
.m5{
    min-height: 300px;
    border: 1px solid #ced1d8;
    border-bottom: none;
}
span{
    font-size: 14px;
}